@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --background-color-brown:#8f5d32;
    --font-Rajdhani: 'Rajdhani', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-Rajdhani);
}

.banner-one{
    width: 100vw;
    height:max-content;
    background-color:#f5f5f5 ;
    display: flex;
    flex-direction: row;

}

.option-shop{
    width: 80%;
    height: max-content;

    display: flex;
    flex-direction: row;
    margin: auto;
    padding:4em;

}

.option{
    width: 25%;
}

.option>i{
    color:#8f5d32;
 font-size: 45px;
}

.option>h2{
    color:#333333;
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    line-height: 1.4;
}

.option>h3{
 color: #959fa7;
 font-size: 14px;
 font-family: "Open Sans",sans-serif;
 font-weight: 300;

}