@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --background-color-brown:#8f5d32;
    --font-Rajdhani: 'Rajdhani', sans-serif;
}


.container-detail{
width: 100vw;
height: 95vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.container-detail>h1
{
 color: #ffffff;
 font-size: 60px;
 font-weight: 900;
 font-family: var(--font-Rajdhani);
}
