.container-item-list {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
}

.container-item-list > h2 {
  font-size: 60px;
  margin: 1em;
}

.grid {
  width: max-content;
  margin: auto;
  display: grid;
  gap: 20px;
}

.style-links{

  text-decoration: none;
}