@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --background-color-brown:#8f5d32;
    --font-Rajdhani: 'Rajdhani', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-Rajdhani);
}

.greeting>.option{
    color:#8f5d32;
}

.container-contact>.contact{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin:auto;
    border: 1px solid black;
}

.contact>.form-contact{
    width: 60%;
    background-color: red;
}

.contact>.greeting{
    width: 40%;
    background-color: rgb(242, 108, 108);
    display: flex;
}

.greeting>.option{
 
  border: 1px solid black;
  width: 100%;
  margin: auto;
  
}


.form-contact{
    border: 1px solid black;
}