
.contenedor-app{
background-color: aquamarine;
margin: 0 auto;
text-align: center;
width: 100vw;
height: 100vh;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

}